<!DOCTYPE html>
<html>
<body>

<div>
<h2>The About of softwere company </h2>
<button type="button" onclick="loadDoc()">Show About  </button>
</div>

<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("about").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", "../Model/info.txt", true);
  xhttp.send();
}
</script>
<div id="about">
	<p>   </p>
</div>

</body>
</html>